<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div class="row">
      <div id="error_explanation">
        <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

        <ul>
        <% @email.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="span8">
      <h5>必选</h5>
      <%= f.text_area :content, :class => "span8", :rows => 20 %>
    </div>
    <div class="span4">
      <h5>
        选择
      </h5>
      <div class="field">
        <%= f.label :author %><br />
        <%= f.text_field :author %>
      </div>
      <div class="field">
        <%= f.label :ticket %><br />
        <%= f.text_field :ticket %>
      </div>
      <div class="actions">
        <%= f.submit "保存信息",  :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
