<!DOCTYPE html>
<html>
<head>
  <title>英语邮件助手</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= render_list :class => "nav nav-pills pull-right" do |li|
               li << link_to("首页", root_path)
               li << link_to("增加语料", new_email_path )
          end %>
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">英语邮件助手</a>
        </div>
      </div>
    </div>

    <div class="container" id="main">
      <div class="content">
        <div class="row">
          <%= notice_message %>
          <%= yield %>
        </div><!--/row-->
      </div><!--/content-->
    </div> <!-- /container -->

    <div id="footer">
      <hr />
      <div class="row span10">
      <p class="pull-right">@ 英语邮件助手</p>
      </div>
    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>

</html>
